@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --main-bg: #fff;
  --primary-color: #121417;

  --font-family: "Inter", sans-serif;
  --font-weight: 700;

  --primary-btn-bg: #1a80e5;
  --primary-btn-padding: 0 16px;
  --secondary-btn-bg: #f0f2f5;
  --text-fade: #637587;
  --text-primary: #121417;

  font-optical-sizing: auto;
  font-style: normal;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

.container {
  padding: 20px 160px;
}
