/* header {
  border-bottom: 1px solid #e5e8eb;
  padding: 12px 20px;
}
.logo > a {
  display: flex;
  align-items: center;
  gap: 16px;
}
.logo a > svg {
  width: 16px;
  height: 16px;
}

.logo a > span {
  color: #121417;
  font-feature-settings: "dlig" on;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  letter-spacing: -0.27px;
}

.navItems {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-right: -13em;
}

.navItems > div a {
  color: #121417;
  font-feature-settings: "dlig" on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.btn__wrapper {
  gap: 16px;
  margin-right: -30em;
} */

header {
  border-bottom: 1px solid #e5e8eb;
  position: relative;
  padding: 12px 40px;
}

.logo {
  flex: 1; 
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-link svg {
  width: 16px;
  height: 16px;
}

.logo-link span {
  font-size: 16px;
}

.navItems {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  margin: 0 10px;
}

.navItems > div a {
  font-size: 14px;
}

.btn__wrapper {
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  margin-right: 10px;
}


@media screen and (max-width: 768px) {
  .header {
    padding: 12px 10px; 
  }

  .navItems {
    gap: 10px; 
  }

  .btn__wrapper {
    gap: 8px;
  }
}
